<div class="puzzle">
    <div class="title-section">
        <img class="wheel-logo" src="/wheel-of-fortune-logo.png" />
        <span class="@textClass">
            @(Model.ParseDay()?.ToString("D") ?? "")
        </span>
    </div>

    <div class="category-section">
        <div>Category</div>
        <div>
            @if (EditMode)
            {
                <input @bind-value="Model.Category" />
            }
            else
            {
                <span class="@textClass">@Model.Category</span>
            }
        </div>
    </div>

    <div>
        <Board @ref="board" BoardState="@Model.Board" EditMode="EditMode"></Board>
    </div>

    <div class="used-letter-section">
        <div>Used-Letter Board</div>
        <div>
            @if (EditMode)
            {
                <input @bind-value="Model.UsedLetters" />
            }
            else
            {
                <span class="@textClass">@Model.UsedLetters</span>
            }
        </div>
    </div>

    <div class="control-section">
        <button class="btn btn-primary float-left" @onclick="SolveClicked">I'd like to solve</button>
        <button class="btn btn-secondary float-right" @onclick="GiveUpClicked">I give up</button>
    </div>
</div>

@code {
    [Parameter]
    public PuzzleModel Model { get; set; } = PuzzleModel.PrerenderPlaceholder;

    [Parameter]
    public bool EditMode { get; set; }

    bool isLoading => Model.IsPrerenderInstance();

    string textClass => isLoading ? "skeleton-text" : "";

    Board? board;

    void SolveClicked(MouseEventArgs e) {
        board?.CheckGuesses();
    }

    void GiveUpClicked(MouseEventArgs e)
    {
        board?.ShowSolution();
    }
}
